<div id="print_screen">
	Please make sure that <strong>headers and footers</strong> are turned <strong>off</strong> in the print settings, and that <strong>print background colors</strong> is turned <strong>on</strong> to ensure everything looks as pretty as possible.
	<p><strong>This box will not print.</strong></p>
</div>
